body{
  background: rgb(34,193,195);
  background: linear-gradient(106deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: White;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
h1{
  color: #fff;
}
h2{
  color: #fff;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  margin-right: 10px;
}

li.done span {
  text-decoration: line-through;
}

li div {
  display: flex;
}

li div button {
  margin-right: 5px;
}

#page-numbers {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

#page-numbers li {
  cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#page-numbers li:hover {
  background-color: #d6cfcf;
}

#page-numbers li:active {
  background-color: #333;
  color: white;
}

.search{
     padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    margin-bottom: 10px;
    width: 40%;
    box-sizing: border-box;
}

.active{
  background-color: #c4e2d6;
}